/* Mehr Nastaliq Web Font v2 */
@font-face {
  font-family: 'Mehr';
  src: url(https://cdn.jsdelivr.net/npm/urdu-fonts/fonts/mehr.woff2) format('woff2'),
       url(https://unpkg.com/urdu-fonts/fonts/mehr.woff2) format('woff2'),
       url(//unpkg.com/urdu-fonts/fonts/mehr.woff2) format('woff2'),
       url(//unpkg.com/mehr/mehr.woff) format('woff'),
       url(//unpkg.com/mehr/mehr.ttf) format('truetype');
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}

/* Jameel Noori Nastaliq v4 */
@font-face {
  font-family: "J.N.Nastaliq";
  src: url(https://cdn.jsdelivr.net/npm/jameel-noori/fonts/jameel-noori-nastaleeq4.woff2) format('woff2'),
      url(https://unpkg.com/jameel-noori/fonts/jameel-noori-nastaleeq4.woff2) format('woff2');
}
@font-face {
  font-family: "JameelNooriNastaliq";
  src: url(https://cdn.jsdelivr.net/npm/jameel-noori/fonts/jameel-noori-nastaleeq4.woff2) format('woff2'),
      url(https://unpkg.com/jameel-noori/fonts/jameel-noori-nastaleeq4.woff2) format('woff2');
}

/* Jameel Noori Nastaliq Kasheedah v3 */
@font-face {
  font-family: "J.N.N.Kashida";
    src: url(https://cdn.jsdelivr.net/npm/jameel-noori-nastaliq-kasheeda/fonts/JameelNooriNastaliqKasheed3.woff2) format('woff2'),
         url(https://unpkg.com/jameel-noori-nastaliq-kasheeda/fonts/JameelNooriNastaliqKasheeda3.woff2) format('woff2');
}
/* Jameel Noori Nastaliq Kasheedah v3 */
@font-face {
  font-family: "JameelNooriNastaliqKasheedah";
    src: url(https://cdn.jsdelivr.net/npm/jameel-noori/fonts/jameel-noori-nastaleeq4.woff2) format('woff2'),
         url(https://unpkg.com/jameel-noori/fonts/jameel-noori-nastaleeq4.woff2) format('woff2');
  }

  /* Nafees Nastaliq */
  @font-face {
    font-family: 'Nafees';
    src: url(https://cdn.jsdelivr.net/npm/nafees-nastaliq/fonts/nafees-nastaliq-v1.2.woff2) format('woff2'),
         url(https://unpkg.com/nafees-nastaliq/fonts/nafees-nastaliq-v1.2.woff2) format('woff2'),
         url('https://fontlibrary.org/assets/fonts/nafees-nastaleeq/f7aa4eb888367518b563474b4f498f40/4e99406984f565d64d32a29bd46a456e/NafeesRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
/* Emad Nastaliq */
@font-face{font-family:Emad-Nastaliq;src:url(https://cdn.jsdelivr.net/npm/emad-nastaliq/fonts/Emad-Nastaliq.woff2) format('woff2'),url(https://unpkg.com/emad-nastaliq/fonts/Emad-Nastaliq.woff2) format('woff2')}

/* Faiz Lahori Nastaliq v2 */
@font-face {
  font-family: "Faiz-Nastaliq";
  src: url(https://cdn.jsdelivr.net/npm/faiz-nastaliq/fonts/FaizNastaliq2.woff2) format('woff2'),
       url(https://unpkg.com/faiz-nastaliq/fonts/FaizNastaliq2.woff2) format('woff2');
}

/* AlQalam_Taj_Nastaleeq */
@font-face {
  font-family: "AlQalam-Taj-Nastaleeq";
  src: url(https://cdn.jsdelivr.net/npm/alqalam-taj-nastaliq/fonts/alqalam-taj-nastaliq.woff2) format('woff2'),
       url(https://unpkg.com/alqalam-taj-nastaliq/fonts/alqalam-taj-nastaliq.woff2) format('woff2');
}

/* Photex-Decorative-Nastaliq */
@font-face{font-family:Photex-Decorative-Nastaliq;src: url(https://cdn.jsdelivr.net/npm/photex-decorative-nastaliq@1.0.0/fonts/photex-decorative-nastaliq.woff2) format('woff2'),url(https://unpkg.com/photex-decorative-nastaliq@1.0.0/fonts/photex-decorative-nastaliq.woff2) format('woff2');}

/* Photex-Nice-Nastaliq */
@font-face{font-family:Photex-Nice-Nastaliq;src:url(https://cdn.jsdelivr.net/npm/photex-nice-nastaliq/fonts/photex-nice-nastaliq.woff2) format('woff2'),url(https://unpkg.com/photex-nice-nastaliq/fonts/photex-nice-nastaliq.woff2) format('woff2')}

/* 'UrduKhushKhatiBook' */
@font-face {
  font-family: "Urdu-Khush-Khati";
  src: url('https://fontlibrary.org/assets/fonts/urdukhushkhati-ttf/3212540d7bf97a3f151974a29e6bc324/22abbaa1e151632d39d4c5cc0d29e95b/UrduKhushKhatiBook.ttf') format('truetype');
}

@font-face {
  font-family: 'Jameel Khushkhat-LK';
  src: url('https://fontlibrary.org/assets/fonts/jameel-khushkhat-lk/219a5cf0c0e0acf496cc2d391c2ff4b1/c81c5a3e69df6a98290661ad70edabbb/JameelKhushkhatLKRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Nastaliq Urdu';
  line-height: 2.5em;
  src: url(https://fonts.gstatic.com/s/notonastaliqurdu/v20/LhWNMUPbN-oZdNFcBy1-DJYsEoTq5pudQ9L940pGPkB3Qt_-PK-V2t_8.woff2) format('woff2');
}

@font-face {
font-family: 'Gulzar';
src: url(https://fonts.gstatic.com/s/gulzar/v12/Wnz6HAc9eB3HB2I7YzYYmg8.woff2) format('woff2');
}

@font-face {
font-family: 'Amiri';
src: url(https://fonts.gstatic.com/s/amiri/v27/J7aRnpd8CGxBHpUrtLMA7w.woff2) format('woff2');
}

/* CSS Aplly */
/* Fonts Name List: if you want to use any fonts Enter Provided Fonts Name After font-family:  */
/* font-family: "Mehr", "Emad-Nastaliq", "Nafees", "J.N.Nastaliq", "J.N.N.Kashida", "Faiz-Nastaliq", "AlQalam-Taj-Nastaleeq", "Photex-Decorative-Nastaliq", "Photex-Nice-Nastaliq", "Urdu Khush Khati", "Jameel Khushkhat-LK", "Gulzar", "Noto Nastaliq Urdu", "Amiri", "JameelNooriNastaliq", "JameelNooriNastaliqKasheedah"; */
body {
    font-family: "Mehr", "Emad-Nastaliq", "Nafees", "Urdu-Khush-Khati", "Gulzar";  /* use provided fonts */
    line-height: 2.25em;
}
.post-title {
  font-family: "Mehr", "Emad-Nastaliq", "Nafees", "Urdu-Khush-Khati", "Gulzar";
}

.post-body {
      font-family: "Mehr", "Emad-Nastaliq", "Nafees", "Urdu-Khush-Khati", "Gulzar";
}

